body {
  margin: 0;
  padding: 0; }

#map {
  position: fixed !important;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0; }

#main {
  background-color: #fff;
  padding: 20px;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  position: relative; }
  @media (min-width: 980px) {
    #main {
      width: 980px; } }

header {
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  height: 90px;
  position: relative;
  pointer-events: none; }

.header-right {
  width: 100px;
  float: right; }

.facet-column {
  padding: 6px; }

.column {
  width: 300px; }

ul.list {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px; }
  ul.list li {
    cursor: pointer;
    border: 0px;
    margin: 0px;
    padding: 6px; }
    ul.list li:nth-child(even) {
      background-color: #ccc; }
    ul.list li:nth-child(odd) {
      background-color: #f0f0f0; }
    ul.list li.active {
      background: #42b8dd;
      /* this is a light blue */ }

.button-facet {
  /*  margin: 4px;*/ }

.item {
  padding: 1px 8px; }

.op-name {
  font-weight: bold; }

.op-uri {
  font-size: 0.8em;
  word-wrap: break-word; }

.tile {
  display: inline;
  font-size: 100%;
  padding: .5em 1.5em;
  color: #fff;
  border: 1px solid #999;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #0078e7;
  text-decoration: none;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: .1s linear -webkit-box-shadow; }

.btn-filter-property {
  margin: 4px; }

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  /*        border-radius: 4px;*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button-transparent {
  color: #000;
  background: white;
  /* this is a white */ }

.pure-button-success {
  background: #1cb841;
  /* this is a green */ }

.pure-button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

.pure-button-warning {
  background: #df7514;
  /* this is an orange */ }

.pure-button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.pure-button-xsmall {
  font-size: 70%; }

.pure-button-small {
  font-size: 85%; }

.pure-button-large {
  font-size: 110%; }

.pure-button-xlarge {
  font-size: 125%; }
